footer {
  border-top: 1px solid var(--border);
}

.footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer-info {
  width: 50%;
}

.footer-info h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--text);
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer-link a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  color: var(--text);
}

.footer-link:hover a {
  text-decoration: underline;
}

.cc {
  border-top: 1px solid var(--border);
  padding: 1rem 0;
  text-align: center;
}