@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
}

body {
  padding: 0 5rem;
}

:root {
  --bg: #f7f5f2;
  --card: #fff;
  --text: #1f1f1f;
  --primary: #d97757;
  --primary-dark: #c16142;
  --border: #e5e2dc;
  --border-radius: 2rem;
  --shadow: 0 10px 30px #0000000f;
}

input, select {
  padding: 0.9rem 1rem;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--text);
  background-color: var(--bg);
}

input:focus {
  outline: none;
}

.btn {
  padding: 0.9rem 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  border-radius: var(--border-radius);
  color: var(--bg);
  background-color: var(--primary);
  transition: scale 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  scale: 1.02;
}

.btn:active {
  scale: 0.98;
  background-color: var(--primary-dark);
}

.para {
  font-size: 1rem;
  line-height: 1;
  color: var(--text);
}