.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.hero-sec {
  max-width: 750px;
  text-align: center;
}

.tagline {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.hero-sec h1 {
  margin-bottom: 1.5rem;
  font-size: clamp(2.5rem, 5vs, 5rem);
  font-weight: 500;
  line-height: 1;
  color: var(--text);
}

.search-box, .ingrident-box {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.search-box input, .ingrident-box input {
  flex: 1;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--text);
}

.trending-sec {
  padding-bottom: 4rem;
}

.sec-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.sec-header a {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary);
}

.sec-header a:hover {
  text-decoration: underline;
}